{% verbatim %}
<table class="table table-striped table-bordered">
  <thead>
    <th>Name</th>
    <th>Type</th>
    <!--<th>Description</th>-->
    <th>Requests</th>
    <th>Multiple</th>
    <th>Auto</th>
    <th>URL</th>
    <th>Links</th>
  </thead>
  <tbody>
    <tr ng-if="origins.length == 0"><td style="color:lightCoral;" colspan=7><div>No origins yet.</div></td></tr>
    <tr ng-repeat="origin in origins">
      <td><a href="/cache/origins/edit/{{ origin.name }}">{{ origin.name }}</a></td>
      <td>{{ origin.type }}</td>
      <!--<td>{{ origin.description }}</td>-->
      <td style="text-align:center;">{{ origin.requests }} <a ng-if="origin.requests_today &gt; 0" class="btn btn-primary btn-xs" href="/cache/stats/map/origin/{{ origin.name }}/date/{{ sDate }}">map</a></td>
      <td>{{ origin.multiple }}</td>
      <td>{{ origin.auto }}</td>
      <td>{{ origin.url }}</td>
      <td><a target="_blank" href="{{ source.link_geojsonio }}">geojson.io</a></td>
    </tr>
  </tbody>
</table>
{% endverbatim %}
