{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block extra_head %}
<style>
</style>
<script>
var now = new Date();
var today = new Date(now.getFullYear(),now.getMonth(),now.getDate());
var formatDate = function(d)
{
  if(d!=undefined)
  {
    return d.getFullYear()+"-"+((d.getMonth()<9)?("0"+(d.getMonth()+1)):(d.getMonth()+1))+"-"+((d.getDate()<10)?("0"+d.getDate()):d.getDate());
  }
  else
  {
    return "";
  }
};
</script>
<script>
</script>
{% endblock %}
{% block navbar_right %}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="page-header" style="padding-left:10px;"><h3>{% if servicee %}Edit Service: {{ service.name }}{% else %}Create New Tile Service{% endif %}</h3></div>
   </div>
  </div>
  <div class="row">
    <div id="services" class="col-md-8">
      <form class="form-horizontal" action="{% if service %}{% url "services_edit" service.name %}{% else %}{% url "services_new"%}{% endif %}" method="POST" style="padding:40px;">
        {% csrf_token %}
        <div class="form-controls">
          {{ service_form|as_bootstrap }}
        </div>
        <div class="form-actions">
          {% if service %}
            <input type="submit" class="btn btn-primary" value="Save"/>
            <a href="{% url "services_delete" service.name %}" class="btn btn-danger">Delete</a>
          {% else %}
            <input type="submit" class="btn btn-primary" value="Create"/>
          {% endif %}
        </div>
      </form>
    </div>
    <div class="col-md-4">{% include "_commands.html" %}</div>
  </div>
<script>
  //////////////////////////////////
</script>
{% endblock %}
{% block footer %}
{% endblock %}
