python-dateutil
httplib2
django
django-cors-headers
Pillow
umemcache
git+git://github.com/tilejet/django-memcached-pool.git@tilejet
gunicorn
greenlet
gevent
git+git://github.com/tilejet/celery.git@umemcache
geojson
pymongo
iso8601
django-jquery
pinax-theme-bootstrap
django_forms_bootstrap
tilejet-util
tilejet-logs
tilejet-stats
tilejet-cache
kafka-python
boto3
git+git://github.com/geowatch/geowatch-django@master
git+git://github.com/geowatch/geowatch-util@master
