{% if source %}
<h4>Source Commands</h4>
<div style="margin-bottom:8px;">
  <a class="btn btn-primary" href="{% url 'services_new_source' source %}">New Service From Source</a>
</div>
<hr>
{% endif %}
{% if origin %}
<h4>Origin Commands</h4>
<div style="margin-bottom:8px;">
  <a class="btn btn-primary" href="{% url 'sources_new_origin' origin %}">Manage Filters</a>
  <a class="btn btn-primary" href="{% url 'sources_new_origin' origin %}">New Source From Origin</a>
</div>
<hr>
{% endif %}
<h4>General Commands</h4>
<div style="margin-bottom:8px;">
  <a class="btn btn-primary" href="{% url 'services_new' %}">New Service</a>
  <a class="btn btn-primary" href="{% url 'sources_new' %}">New Source</a>
  <a class="btn btn-primary" href="{% url 'origins_new' %}">New Origin</a>
</div>
<hr>
<div style="margin-bottom:8px;">
  <a target="_blank" class="btn btn-danger" href="{% url 'flush' %}">Flush Cache</a>
</div>
<hr>
<div style="margin-bottom:8px;">
  <a target="_blank" class="btn btn-danger" href="{% url 'stats_reload' %}">Reload Stats</a>
  <a target="_blank" class="btn btn-danger" href="{% url 'stats_clear' %}">Clear Stats</a>
</div>
<hr>
<div style="margin-bottom:8px;">
  <a target="_blank" class="btn btn-danger" href="{% url 'logs_reload' %}">Reload Logs</a>
  <a target="_blank" class="btn btn-danger" href="{% url 'logs_clear' %}">Clear Logs</a>
</div>
